    <footer class="footer">
        <div class="footer-container">
            <div class="footer-col">
                <h4> Санаторий «Здоровье»</h4>
                <p>Ваш путь к здоровью и гармонии</p>
                <div class="social-links">
                    <a href="https://vk.com/dubovaya_rosha_orenburg"><img style="height: 50px;" src="/images/icons8-vk-100.png" alt=""></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Быстрые ссылки</h4>
                <a href="/">Главная</a>
                <a href="/about">О нас</a>
                <a href="/services">Услуги</a>
                <a href="/rooms">Номера</a>
                <a href="/doctors">Врачи</a>
                <a href="/gallery">Галерея</a>
                <a href="/contacts">Контакты</a>
            </div>
            <div class="footer-col">
                <h4>Контакты</h4>
                <p>+7 (3532) 56-29-42</p>
                <p>dubrosha56@inbox.ru</p>
                <p>Оренбургская область, Россия</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Санаторий «Здоровье». Все права защищены.</p>
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>